mixin propertyValue(type)
    if type.name === "arrayOf" || type.name === "objectOf"
        | #{type.name}[!{type.value.name}]
    else if type.name === "instanceOf"
        | instanceOf(!{type.value})
    else
        | #{type.name}

mixin propertyValues(props)
    - var list = props.length ? props : [props]
    each value, index in list
        +propertyValue(value)
        | #{(index < list.length - 1) ? '|' : ''}

mixin property(name, type)
    if type.name === "union"
        |   #{name}={union[
        +propertyValues(type.value)
        | }]
    else
        |   #{name}={
        +propertyValues(type)
        | }

block snippet
    | <#{displayName} />