mixin propertyValue(type)
    if type.name === "arrayOf" || type.name === "objectOf"
        | #{type.name}[!{type.value.name}]
    else if type.name === "instanceOf"
        | instanceOf(!{type.value})
    else if type.raw
        | !{type.raw}
    else
        | #{type.name}

mixin propertyValues(values)
    - var list = values.length ? values : [values]
    each value, index in list
        +propertyValue(value)
        | #{(index < list.length - 1) ? '|' : ''}

mixin property(name, type)
    if type.name === "union"
        |   #{name}={union[
        +propertyValues(type.value)
        | }]
    else
        |   #{name}={
        +propertyValues(type)
        | }


block snippet